<div class="container" style="min-height: 100%; min-width: 100%; background-color: #228896">
  <div class="row justify-content-center" style="background-color: #228896";>
    <div class="col-12 col-sm-8" style="background-color: white; border: 1px solid rgba(110, 109, 109, 0.527); margin: 25px; border-radius: 40px 40px 20px 20px; padding: 25px;">
      <div class="question-card" style="
    text-align: center;">
        <h3 style="color: #black; text-align: center;"><%= @question.content %></h3>
        <%= image_tag @question.photo %>
        <%= simple_form_for(UserAnswer.new) do |f| %>
          <%= f.association :answer, as: :radio_buttons, collection: @question.answers, label_method: :content, value_method:
                          :id, legend_tag: false, wrapper_html: {class: "myfirstclass"} %>
          <div class="d-flex justify-content-end">
            <%= f.submit 'Next', class: "button-questionary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
