<div class="container" style="width: 40%;">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="simple_form_for">

  <div class="form-inputs">
    <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" } %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :state,
                required: true,
                collection: [ 'AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG',
                'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO' ] %>
    <div class="role-field my-4">
      <h4><strong>How would you like to register?</strong></h4>
      <%= f.input       :role,
                        as: :radio_buttons,
                        # autofocus: true,
                        collection: [['voter', 'voter'], ['candidate', 'candidate']],
                        label_method: :second,
                        value_method: :first,
                        required: true
                        # input_html: { autocomplete: "role" }
                        %>
    </div>
    <%= f.input :party,
                hint: "If you're a candidate affiliated to a political party",
                autofocus: true,
                input_html: { autocomplete: "party" } %>
    <%= f.input :genre,
                hint: "If you're a candidate affiliated to a political party",
                collection: [ 'male', 'female' ] %>
    <%= f.input :race,
                hint: "If you're a candidate affiliated to a political party",
                collection: [ 'white', 'black', 'indian', 'asian' ] %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn btn-outline-primary", id:"custom-btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
