<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner" style="background: #DCD7C9">

  <h1 class="title">Search through all candidates profiles</h1>
    <div class="container">

      <div class="form-search">
        <p class="key-word">State</p>
        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
          <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" />
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>Search<
            </button>
          </div>
      </form>

      <%if current_user.role != "Deputado Federal" %>
        <% @users.each do |user| %>
          <%if user.role == "Deputado Federal" %>
              <div class="row">
                <div class="col">
                  <div class="card" style="width: 10rem;">
                    <%= image_tag "profile.png" %>
                    <%# <img src= "..." class="card-img-top" alt="..."> %>
                    <div class="card-body">
                        <h5 class="card-title"><%= user.name %></h5>
                        <p class="card-text"><%= user.party %></p>
                        <p class="card-text"><%= "Centro Esquerda"%></p>
                        <p class="card-text"><%= "Priority: Race"%></p>
                    </div>
                  </div>
                </div>
              </div>
          <%end %>
        <%end %>
      <%end %>
  </div>
</div>

<%= render "shared/footer" %>
