<div class="container" style="min-width: 100%; min-height: 100%; background-color: #228896">

  <div class="row justify-content-center pt-4">
      <div class="col-8">
        <h2 class="py-4 text-center">According to your answers, we understand that...</h2>
        <h3 class="py-4 text-center">You're inclined to <%= current_user.orientation %> politics!</h3>
      </div>
  </div>

  <div class="row justify-content-center my-2">
    <div class="col-1 pt-4 pb-2" style="text-align: center;">
      <i class="fa-solid fa-users fa-3x <%= @users.orientation == "left-wing" ? "" : "d-none"  %>"></i>
    </div>
    <div class="col-1 pt-4 pb-2" style="text-align: center;">
      <i class="fa-solid fa-users fa-3x <%= @users.orientation == "centrist" ? "" : "d-none"  %>"></i>
    </div>
    <div class="col-1 pt-4 pb-2" style="text-align: center;">
      <i class="fa-solid fa-users fa-3x <%= @users.orientation == "right-wing" ? "" : "d-none"  %>"></i>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-1 py-2">
      <h5 class="text-center">Left-wing</h5>
    </div>
    <div class="col-1 py-2">
      <h5 class="text-center">Center</h5>
    </div>
    <div class="col-1 py-2">
      <h5 class="text-center">Right</h5>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <% if @users.orientation == "left-wing"%>
        <h4 class="lh-lg" style="font-size:17px">Left-wing politics describes the range of political ideologies that support and seek to achieve social equality and egalitarianism, often in opposition to social hierarchy. Left-wing politics typically involve a concern for those in society whom its adherents perceive as disadvantaged relative to others as well as a belief that there are unjustified inequalities that need to be reduced or abolished. Left-wing politics are also associated with popular or state control of major political and economic institutions.</h4>
      <% elsif @users.orientation == "right-wing"%>
        <h4 class="lh-lg" style="font-size:17px">Right-wing politics describes the range of political ideologies that view certain social orders and hierarchies as inevitable, natural, normal, or desirable, typically supporting this position on the basis of natural law, economics, authority, property or tradition. Hierarchy and inequality may be seen as natural results of traditional social differences or competition in market economies.</h4>
      <% elsif @users.orientation == "centrist" %>
        <h4 class="lh-lg" style="font-size:17px">Centrism is a political outlook or position involving acceptance or support of a balance of social equality and a degree of social hierarchy while opposing political changes that would result in a significant shift of society strongly to the left or the right.</h4>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center mt-2">
    <div class="col-6" style="text-align: center;">
      <a><%= link_to "Check candidates that match your profile", top_users_path, class: "btn btn-check-candidates" %></a>
    </div>
  </div>

</div>
