<div class="master-container pt-1 pb-1" style="background-color: #F2F0EB;">

  <div class="container mt-5 mb-5">

    <h2 class="text-center my-4">See below all the candidates that match your profile</h2>

    <div class="row justify-content-evenly mx-5 my-5">

      <div class="col-2 card mx-3">

        <div class="card-img" style="height: 224px">
          <%= image_tag "crivella.jpeg" %>
        </div>

        <div class="card-body">
          <h5 class="text-center">Marcelo Crivela</h5>
          <p class="text-center">Republicanos</p>
          <p class="text-center">Similarities: 90%</p>
        </div>

      </div>

      <div class="col-2 card mx-3">

        <div class="card-img" style="height: 224px">
          <%= image_tag "crivella.jpeg" %>
        </div>

        <div class="card-body">
          <h5 class="text-center">Marcelo Crivela</h5>
          <p class="text-center">Republicanos</p>
          <p class="text-center">Similarities: 90%</p>
        </div>

      </div>

      <div class="col-2 card mx-3">

        <div class="card-img" style="height: 224px">
          <%= image_tag "crivella.jpeg" %>
        </div>

        <div class="card-body">
          <h5 class="text-center">Marcelo Crivela</h5>
          <p class="text-center">Republicanos</p>
          <p class="text-center">Similarities: 90%</p>
        </div>

      </div>

      <div class="col-2 card mx-3">

        <div class="card-img" style="height: 224px">
          <%= image_tag "crivella.jpeg" %>
        </div>

        <div class="card-body">
          <h5 class="text-center">Marcelo Crivela</h5>
          <p class="text-center">Republicanos</p>
          <p class="text-center">Similarities: 90%</p>
        </div>

      </div>

      <div class="col-2 card mx-3">

        <div class="card-img" style="height: 224px">
          <%= image_tag "crivella.jpeg" %>
        </div>

        <div class="card-body">
          <h5 class="text-center">Marcelo Crivela</h5>
          <p class="text-center">Republicanos</p>
          <p class="text-center">Similarities: 90%</p>
        </div>

      </div>

    </div>

    <div class="row justify-content-end">
      <div class="col-2">
        <a><%= link_to "See all candidates", "#", class: "btn btn-flat mb-2 mt-2" %></a>
      </div>
    </div>

  </div>

</div>
