<div class="container pt-5" style="min-width: 100%; min-height: 80%; background-image: linear-gradient(#228896, #FFFFFF)">

  <h2 class="text-center pt-5" style="font-weight: bold; font-family: 'Montserrat', sans-serif;">See who matches your profile!</h2>

  <% if current_user.orientation == "left-wing" %>
    <div class="row-search-show">
      <% @users.each do |user| %>
        <% if user.role == "candidate" && user.state == current_user.state && (user.party == "PT" || user.party == "PSOL") %>
          <div class="col-2">
            <div class="card mt-4" style="width: 9rem;">
              <img class="img-search-show">
                <%= cl_image_tag user.photo.key %>
              <div class="card-body-search-show" style="text-align: justify">
                <div class="icons-search">
                  <i class="fa-regular fa-user"></i>
                  <p class="card-text-search-show"><%= user.name %><br/>
                </div>
                <div class="icons-search">
                  <i class="fa-solid fa-map-pin"></i>
                  <p class="card-text-search-show"></i> <%= user.state %><br/>
                </div>
                <div class="icons-search">
                  <i class="fa-regular fa-handshake"></i>
                  <p class="card-text-search-show">  <%= user.party %><br/>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% elsif current_user.orientation == "right-wing" %>
    <div class="row-search-show">
      <% @users.each do |user| %>
        <% if user.role == "candidate" && user.state == current_user.state && (user.party == "Republicanos" || user.party == "PL") %>
          <div class="col-2">
            <div class="card mt-4" style="width: 9rem;">
              <img class="img-search-show">
                <%= cl_image_tag user.photo.key %>
              <div class="card-body-search-show" style="text-align: justify">
                <div class="icons-search">
                  <i class="fa-regular fa-user"></i>
                  <p class="card-text-search-show"><%= user.name %><br/>
                </div>
                <div class="icons-search">
                  <i class="fa-solid fa-map-pin"></i>
                  <p class="card-text-search-show"></i> <%= user.state %><br/>
                </div>
                <div class="icons-search">
                  <i class="fa-regular fa-handshake"></i>
                  <p class="card-text-search-show">  <%= user.party %><br/>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% elsif current_user.orientation == "centrist" %>
    <div class="row-search-show">
      <% @users.each do |user| %>
        <% if user.role == "candidate" && user.state == current_user.state && (user.party == "MDB" || user.party == "PSD") %>
          <div class="col-2">
            <div class="card mt-4" style="width: 9rem;">
              <img class="img-search-show">
                <%= cl_image_tag user.photo.key %>
              <div class="card-body-search-show" style="text-align: justify">
                <div class="icons-search">
                  <i class="fa-regular fa-user"></i>
                  <p class="card-text-search-show"><%= user.name %><br/>
                </div>
                <div class="icons-search">
                  <i class="fa-solid fa-map-pin"></i>
                  <p class="card-text-search-show"></i> <%= user.state %><br/>
                </div>
                <div class="icons-search">
                  <i class="fa-regular fa-handshake"></i>
                  <p class="card-text-search-show">  <%= user.party %><br/>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
      <h5 class="text-center mt-5 pt-5 mb-2 pb-2" style="color: black; font-weight: 500">No candidates match your profile so far.</h5>
      <h5 class="text-center" style="color: #black; font-weight: 500">Maybe you could answer the questions and come back to check your results later on.</h5>
      <div class = "row justify-content-center pt-5">
        <div class="col-2">
          <%= link_to "Answer questions", question_path(1), class: "btn btn-flat mb-2 mt-2" %>
        </div>
      </div>
  <% end %>

  <div class="row justify-content-end pb-4">
    <div class="col-2">
      <a><%= link_to "See all candidates", searches_path, class: "btn btn-flat mb-2 mt-2" %></a>
    </div>
  </div>
</div>
