<%= content_for(:navbar_class, "navbar-home") %>


<div class="banner-search-index" style="background-image: linear-gradient(#228896, #FFFFFF)">

  <h2 class="title-search-index"></h2>

  <div class="container-search-index">
    <%= form_with model: @search do |f| %>
      <div class="selects">
        <%= f.label :state %>
          <%= f.select :state, options_for_select(@states), include_blank: true %><br>
      </div>
      <div class="selects">
        <%= f.label :party %>
          <%= f.select :party, options_for_select(@parties), include_blank: true %><br>
      </div>
      <div class="selects">
        <%= f.label :gender %>
          <%= f.select :gender, options_for_select(@genders), include_blank: true %><br>
      </div>
      <div class="selects">
        <%= f.label :race %>
          <%= f.select :race, options_for_select(@races), include_blank: true %><br>
      </div>
      <div class="selects-search">
        <%= f.button :submit do %>
          <i class="fas fa-search"></i>
        <%end %>
      </div>
    <%end %>
  </div>

    <div class="row-search-show">
      <% @search.search_user.each do |user| %>
        <% if user.role == "candidate" %>
          <div class="col-2">
            <div class="card mt-4" style="width: 9rem;">
              <img class="img-search-show">
                <%= cl_image_tag user.photo %>
              <div class="card-body-search-show" style="text-align: justify">
                <div class="icons-search">
                  <i class="fa-regular fa-user"></i>
                  <p class="card-text-search-show"><%= user.name %><br/>
                </div>
                <div class="icons-search">
                  <i class="fa-solid fa-map-pin"></i>
                  <p class="card-text-search-show"></i> <%= user.state %><br/>
                </div>
                <div class="icons-search">
                  <i class="fa-regular fa-handshake"></i>
                  <p class="card-text-search-show">  <%= user.party %><br/>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
