<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner-2-search">

  <h1 class="title-search-show">Search Candidates Results</h1>
  <div class="container-search-show">

    <%if @search.search_user.empty? %>
      <p>No candidate were found.</p>
    <%else %>
      <div class="row-search-show">
        <% @search.search_user.each do |user| %>
          <div class="col-2">
            <div class="card mt-4" style="width: 9rem;">
              <img class="img-search-show">
                <%= image_tag user.photo %>
              <div class="card-body-search-show">
                <p class="card-text-search-show"><%= user.name %></p>
                <p class="card-text-search-show"><%= user.state %></p>
                <p class="card-text-search-show"><%= user.party %></p>
                <p class="card-text-search-show"><%= user.role %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <%end %>
    <div class="container-link">
    <%= link_to "Click to back to search", searches_path %>
    </div>
  </div>
</div>
