<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner-search-show">

  <h2 class="title-search-show"> </i> Here is the result of your search </h2>
  <div class="container-search-show">

    <%if @search.search_user.empty? %>
      <p>No candidate were found.</p>
    <%else %>
      <div class="row-search-show">
        <% @search.search_user.each do |user| %>
          <% if user.role == "candidate" %>
            <div class="col-2">
              <div class="card mt-4" style="width: 9rem;">
                <img class="img-search-show">
                  <%= image_tag user.photo %>
                <div class="card-body-search-show" style="text-align: justify">
                  <div class="icons-search">
                    <i class="fa-regular fa-user"></i>
                    <p class="card-text-search-show"><%= user.name %><br/>
                  </div>
                  <div class="icons-search">
                    <i class="fa-solid fa-map-pin"></i>
                    <p class="card-text-search-show"></i> <%= user.state %><br/>
                  </div>
                  <div class="icons-search">
                    <i class="fa-regular fa-handshake"></i>
                    <p class="card-text-search-show">  <%= user.party %><br/>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <%end %>
    <div class="row justify-content-end">
      <div class="col-2">
        <a><%= link_to "See all candidates", searches_path, class: "btn btn-flat mb-2 mt-2" %></a>
      </div>
    </div>
  </div>
</div>
