<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner-search-show">

  <%# <h2 class="title-search-show">Search Candidates Results</h2> %>
  <div class="container-search-show">

    <%if @search.search_user.empty? %>
      <p>No candidate were found.</p>
    <%else %>
      <div class="row-search-show">
        <% @search.search_user.each do |user| %>
          <% if user.role == "candidate" %>
            <div class="col-2">
              <div class="card mt-4" style="width: 9rem;">
                <img class="img-search-show">
                  <%= image_tag user.photo %>
                <div class="card-body-search-show">
                  <p class="card-text-search-show"><%= user.name %><br/>
                  <p class="card-text-search-show"><%= user.state %><br/>
                  <p class="card-text-search-show"><%= user.party %><br/>
                  <p class="card-text-search-show"><%= user.role %><br/>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <%end %>
    <div class="show-search-btn">
      <p>  <%= link_to "Click to back to search", searches_path, class: "btn btn-lg btn btn-flat" %> </p>
    </div>
  </div>
</div>
