<!DOCTYPE html>
<html>
  <head>
    <title>Elect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/d2400d3692.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/50e2a41905.js" crossorigin="anonymous"></script>
  </head>

  <div class="page-container">
    <body>
      <%= render "shared/flashes" %>
      <%= render "shared/navbar" %>
      <%# <main id="main-content"> %>
        <%= yield %>
      <%# </main> %>
      <%= render "shared/footer" %>
    </body>
  </div>
</html>
